[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/vim-rails.git
[submodule "bundle/vim_colors"]
	path = bundle/vim_colors
	url = https://github.com/squil/vim_colors.git
[submodule "/home/shaleen/.vim/bundle/snipmate"]
	path = /home/shaleen/.vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate
